.main {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 10%;
  background: linear-gradient(to top, rgb(17, 158, 240), rgb(243, 7, 243));
  background-image: url('./../../images/main_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main__tasks {
  padding: 1%;
  width: 30vw;
  box-sizing: border-box;
  border: solid 2px rgb(4, 0, 255);
  height: 74%;
  min-height: 70vh;
  border-radius: 15px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.main__tasks-important-text {
  margin: 5px 0;
  font-size: 1.5rem;
  min-height: 3.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px red;
}

@media only all and (max-width: 450px) {
  .main__tasks-important-text {
    font-size: 1.0rem;
    min-height: 2.5rem;
  }
}
